.authorGrid{

  width:80%;
  border-width:10px;  
border-style:solid;
border-color: #FC9152;
border-radius: 40px;
font-size: 2rem;
margin-top:5%;
min-width: 20%;

}

.authorGrid legend{
    background-color: white;
    border-radius: 5px;
    color:#FC9152;
    font-size:1em;
    padding:0.2em 0.5em;
    /* width:20%; */
   
   
}

.main{
display:flex;   
/* align-content: center; */
flex-direction: row;
justify-content: center;

}

.innerDiv{
    display:flex;
    flex-wrap: wrap;      
   
    
}