.book {

   
    text-align: center;
    background-color:#FC9152;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    width: 400px;
  }

  .heart {
    width: 10%; 
    float: right;
  }
  
  .image {
    width: 100%;

  }

  .title {
    font-size: 1em;
    text-align: center;
  }
  
  .container {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    padding:10px;
  }