.book {

    text-align: center;
    /* background-color:#FC9152; */
    /* margin-left: 3%;
    margin-right: 3%; */
    
    width: 500px;
    margin:auto;
    margin-top: 2%;
    height:750px;
  }

  .heart {
    width: 10%; 
    float: right;
  }
  
  .image {
    width: 100%;

  }

  .title {
    font-size: 1em;
    text-align: center;
  }
  
  .container {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1em;
    padding:10px;
  }