.logo{


    border-width:100%;
    border-color:white;
    border-style:solid;
    border-radius: 100px; 
    width:100px;
    height: 100px;
    display:flex;
    /* justify-content: center; */
    
    flex-direction: column;
    align-content:center;
    margin-top:10px;

}

.sideDesign{
      width: 100vw;
      height: 100px;
      border-bottom: 10px solid black;
      margin-top:-30px;
      border-color:white;
      min-width: 100px;
      }
    


.header{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;
    
}

.logoAbv{
    
    font-size:4em;
    color:white;
    margin:0.15em;
        
} 

.logoName{

    font-size:3rem;
    color:white;
    font-style: italic;
    width: 500px;
    margin-left:17%
    
    
        
}
.headerLogo{
    display:flex;
   flex-direction   : column;
}

.mainLogo{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}